<swiper-container loop="true" navigation="true" pagination="true" autoplay-delay="4000">
    <swiper-slide><img class="block w-full h-96 object-cover mask-gradient" src="../../../../assets/Fone.png" alt=""></swiper-slide>
    <swiper-slide><img class="block w-full h-96 object-cover mask-gradient" src="../../../../assets/Comida.png" alt=""></swiper-slide>
    <swiper-slide><img class="block w-full h-96 object-cover mask-gradient" src="../../../../assets/Movel.png" alt=""></swiper-slide>
</swiper-container>

<section class="mx-auto flex max-w-7xl items-center justify-between p-3 lg:px-36">
    <p>homeComponent works!</p>
</section>