<swiper-container loop="true" navigation="true" pagination="true" autoplay-delay="4000">
    <swiper-slide><img class="block w-full h-36 sm:h-96 object-cover sm:mask-gradient" src="../../../../assets/Fone.png" alt="Imagem de um fone"></swiper-slide>
    <swiper-slide><img class="block w-full h-36 sm:h-96 object-cover sm:mask-gradient" src="../../../../assets/Comida.png" alt="Imagem de uma tigela com comida"></swiper-slide>
    <swiper-slide><img class="block w-full h-36 sm:h-96 object-cover sm:mask-gradient" src="../../../../assets/Movel.png" alt="Imagem de um móvel"></swiper-slide>
</swiper-container>

<div class="mx-0 sm:mx-80">
    <app-carousel-card [cards]="cards" [cardsPerPage]="cardsPerPage" [scrollStep]="scrollStep"></app-carousel-card>
</div>
<br>
<div class="mx-0 sm:mx-80">
    <app-catalog [products]="products" [cardsPerPage]="cardsPerPage" [scrollStep]="scrollStep"></app-catalog>
</div>