<div class="flex flex-col items-center">
  <p class="text-gray-color text-3xl mb-20 mt-10 px-2">
    Preencha os dados para criar sua conta
  </p>
  <form
    class="bg-white shadow-md rounded-lg px-8 pb-8 pt-8 lg:w-1/4 md:w-2/4 sm:w-full"
  >
    <div class="mb-4">
      <label class="block text-gray-color text-sm mb-2" for="email">E-mail</label>
      <input
        [(ngModel)]="email"
        name="email"
        [ngClass]="{ 'border-error-color': emailRegisterError }"
        class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
        id="email"
        type="text"
        placeholder="Insira seu e-mail"
        (keydown)="sharedMethod.preventSpace($event)"
      />
    </div>

    <div class="mb-4">
        <label class="block text-gray-color text-sm mb-2" for="email">Nome</label>
        <input
          [(ngModel)]="name"
          name="name"
          [ngClass]="{ 'border-error-color': registerError }"
          class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
          id="name"
          type="text"
          placeholder="Insira seu nome"
          (keydown)="sharedMethod.preventSpace($event)"
        />
    </div>

    <div class="mb-4">
        <label class="block text-gray-color text-sm mb-2" for="Imagem de perfil">profileImage</label>
        <input
          [(ngModel)]="profileImage"
          name="profileImage"
          [ngClass]="{ 'border-error-color': profileImageError }"
          class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
          id="profileImage"
          type="text"
          placeholder="Insira o link da imagem do seu perfil"
          (keydown)="sharedMethod.preventSpace($event)"
        />
    </div>

    <div class="mb-4">
      <label class="block text-gray-color text-sm mb-2" for="password"
        >Senha</label
      >
      <input
        [(ngModel)]="password"
        name="password"
        [ngClass]="{ 'border-error-color': passwordRegisterError }"
        class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color mb-3 leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
        id="password"
        [type]="showPassword ? 'text' : 'password'"
        placeholder="Insira sua senha"
        (keydown)="sharedMethod.preventSpace($event)"
      />
      <i
        class="-translate-x-8 translate-y-2.5 fa absolute text-gray-color cursor-pointer"
        [ngClass]="showPassword ? 'fa-eye' : 'fa-eye-slash'"  
        (click)="togglePasswordVisibility()"
      ></i>
    </div>

    <div class="mb-6">
      <label class="block text-gray-color text-sm mb-2" for="password2"
        >Confirme a senha</label
      >
      <input
        [(ngModel)]="password2"
        name="password2"
        [ngClass]="{ 'border-error-color': passwordRegisterError }"
        class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color mb-3 leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
        id="password2"
        type="password"
        placeholder="Confirme sua senha"
        (keydown)="sharedMethod.preventSpace($event)"
      />
    </div>

    <div class="flex items-center justify-between">
      <button
        (click)="register()"
        class="bg-primary-button-color hover:bg-secondary-button-color text-white px-6 py-3 rounded-lg focus:outline-none focus:shadow-outline"
        type="button"
      >
        Criar conta
      </button>
  
    </div>
    @if (registerError || emailRegisterError || passwordRegisterError) {
      <p class="text-error-color text-xs italic mb-4 mt-3">
        {{ errorMessage }}
      </p>
    }
  </form>
</div>
