<header class="bg-primary-color">
    <nav class="mx-auto flex max-w-[1250px] items-center p-2 ">
        <a href="/" class="pr-2 sm:pr-20">
            <img class="h-10 w-20 sm:w-10" src="../../../assets/shopping-cart-svgrepo-com.svg" alt="logo da empresa">
        </a>
        <div class="w-[800px]">
            <app-search-bar-main></app-search-bar-main>
        </div>
        <div class="hidden sm:hidden md:hidden lg:flex items-center ml-auto">
            <i class="fa fa-tag pr-2" aria-hidden="true"></i>
            <p>Ofertas por tempo limitado</p>
        </div>
    </nav>
</header>