<app-toaster></app-toaster>

<div class="product-list">
  @for (o of ordersList; track o) {
    <div class="product-row">
      <b>{{ formatOrderDate(o.orderdate) }}</b>
      <br><br>
      <hr>
      @for (p of o.products; track p) {
        <br>
        <div class="flex">
          <div class="product-image">
            <img [src]="p.imagem_produto" [alt]="p.nome_produto" />
          </div>
          <div class="product-info">
            <div class="id">#{{ p.product_id }}</div>
            <div class="name">{{ p.nome_produto }}</div>
            <div class="quantity">{{ p.quantidade > 1 ? p.quantidade + ' unidades' : p.quantidade + ' unidade' }}</div>
          </div>
        </div>
        <br>
      }
    </div>
  }
</div>

<br><br>
