<div class="popup-container" (mouseenter)="showPopup()" (mouseleave)="startHideTimer()">
  <span class="trigger-text">
    {{ text }}
    <i class="fa fa-chevron-down text-gray-500" aria-hidden="true"></i>
  </span>

  @if (visible) {
    <div class="popup-menu" (mouseenter)="showPopup()" (mouseleave)="startHideTimer()">
      <div class="triangle"></div>
  
      <ul>
        @for (option of options; track option) {
          @if (option.link) {
            <li><a href="{{ option.link }}">{{ option.name }}</a></li>
          } @else {
            <li><a (click)="option.action()">{{ option.name }}</a></li> 
          }
        }
      </ul>
    </div>
  }
</div>
  