<div class="popup-container" (mouseenter)="showPopup()" (mouseleave)="startHideTimer()">
    <span class="trigger-text">
      {{ text }}
      <i class="fa fa-chevron-down text-gray-500" aria-hidden="true"></i>
    </span>
  
    <div class="popup-menu" *ngIf="visible" (mouseenter)="showPopup()" (mouseleave)="startHideTimer()">
      <div class="triangle"></div>
  
      <ul>
        <li><a href="#">Minha Conta</a></li>
        <li><a href="#">Compras</a></li>
        <li><a href="#">Sair</a></li>
      </ul>
    </div>
  </div>
  