<div class="flex flex-col items-center">
  <div class="flex items-center mb-10 mt-10 px-2">
    <p class="text-gray-color text-2xl">
      Preencha todos os campos para anunciar o seu produto
    </p>
    <img
      class="w-48 h-48"
      src="../../../../assets/undraw_data-processing_z2q6.svg"
      alt="Imagem representando criação de anúncio"
    />
  </div>

  <form
    class="relative bg-white shadow-md rounded-lg px-8 pb-8 pt-8 lg:w-2/4 md:w-3/4 sm:w-full"
  >
    <p>Título</p>
    <p class="text-gray-500">Por favor, preencha estes dados com as especificações do fabricante.</p>

    <br />
    <hr />
    <br />

    <div class="mb-4 rounded-lg">
      <label class="block text-sm mb-2" for="title"
        >Título do anúncio</label
      >
      <input
        [(ngModel)]="productName"
        (ngModelChange)="onNameChange()"
        [ngClass]="{ 'border-error-color': isNameError }"
        name="title"
        class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
        id="title"
        type="text"
        placeholder="Insira o título"
      />
      @if (isNameError) {
        <p class="text-error-color text-xs italic mb-4 mt-3">
          {{errorMessage}}
        </p>
      }
    </div>

    <br />
    <hr />
    <br />

    <div class="flex gap-5 flex-row-reverse">
      <button
        class="px-6 py-3 text-white bg-primary-button-color hover:bg-secondary-button-color rounded-lg"
        [ngClass]="{ 'bg-tertiary-button-color pointer-events-none': isFirstStepCompleted }"
        (click)="confirmName()"
      >
        Confirmar
      </button>
      <button
        class="px-6 py-3 text-primary-button-color hover:bg-tertiary-button-color rounded-lg"
        [ngClass]="{ 'text-tertiary-button-color pointer-events-none': isFirstStepCompleted }"
        (click)="cancelName()"
      >
        Cancelar
      </button>
    </div>
    @if (loadingFirstStep) {
        <app-loading-overlay></app-loading-overlay>
    }
  </form>



  @if (showSecondStep) {
    <br>
  
    <form
      class="relative bg-white shadow-md rounded-lg px-8 pb-8 pt-8 lg:w-2/4 md:w-3/4 sm:w-full"
      [ngClass]="{ 'bg-white/25': blurSecond }"
    >
      <p>Preço</p>
      <p class="text-gray-500">Informe o preço do produto.</p>
  
      <br />
      <hr />
      <br />
  
      <div class="mb-4 rounded-lg">
        <label class="block text-sm mb-2" for="title"
          >Preço do produto</label
        >
        <input
          [(ngModel)]="productPrice"
          (ngModelChange)="onPriceChange()"
          [ngClass]="{ 'border-error-color': isPriceError, 'bg-white/25 pointer-events-none': !isFirstStepCompleted }"
          name="title"
          class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
          id="title"
          type="text"
          placeholder="Insira o preço"
        />
        @if (isPriceError) {
          <p class="text-error-color text-xs italic mb-4 mt-3">
            {{errorMessage}}
          </p>
        }
      </div>
  
      <br />
      <hr />
      <br />
  
      <div class="flex gap-5 flex-row-reverse">
        <button
          class="px-6 py-3 text-white bg-primary-button-color hover:bg-secondary-button-color rounded-lg"
          (click)="confirmPrice()"
          [ngClass]="{ 'bg-tertiary-button-color pointer-events-none': isSecondStepCompleted }"
        >
          Confirmar
        </button>
        <button
          class="px-6 py-3 text-primary-button-color hover:bg-tertiary-button-color rounded-lg"
          [ngClass]="{ 'text-tertiary-button-color pointer-events-none': isSecondStepCompleted }"
        >
          Cancelar
        </button>
      </div>
      @if (loadingSecondStep) {
          <app-loading-overlay></app-loading-overlay>
      }
    </form>
  }



  @if (showThirdStep) {
    <br>
  
    <form
      class="relative bg-white shadow-md rounded-lg px-8 pb-8 pt-8 lg:w-2/4 md:w-3/4 sm:w-full"
      [ngClass]="{ 'bg-white/25': !isFirstStepCompleted }"
    >
      <p>Condição</p>
  
      <br />
      <hr />
      <br />
  
      <div class="mb-4 rounded-lg">
        <label class="block text-sm mb-2" for="title"
          >Preço do produto</label
        >
        <input
          [(ngModel)]="productPrice"
          [ngClass]="{ 'border-error-color': isUsedError, 'bg-white/25 pointer-events-none': !isFirstStepCompleted }"
          name="title"
          class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
          id="title"
          type="text"
          placeholder="Insira o preço"
        />
        @if (isUsedError) {
          <p class="text-error-color text-xs italic mb-4 mt-3">
            {{errorMessage}}
          </p>
        }
      </div>
  
      <br />
      <hr />
      <br />
  
      <div class="flex gap-5 flex-row-reverse">
        <button
          class="px-6 py-3 text-white bg-primary-button-color hover:bg-secondary-button-color rounded-lg"
          (click)="confirmPrice()"
          [ngClass]="{ 'bg-tertiary-button-color pointer-events-none': !isFirstStepCompleted }"
        >
          Confirmar
        </button>
        <button
          class="px-6 py-3 text-primary-button-color hover:bg-tertiary-button-color rounded-lg"
          [ngClass]="{ 'text-tertiary-button-color pointer-events-none': !isFirstStepCompleted }"
        >
          Cancelar
        </button>
      </div>
      @if (loadingSecondStep) {
          <app-loading-overlay></app-loading-overlay>
      }
    </form>
  }
</div>
