<div class="flex flex-col items-center">
  <div class="flex items-center mb-10 mt-10 px-2">
    <p class="text-gray-color text-2xl">
      Preencha todos os campos para anunciar o seu produto
    </p>
    <img
      class="w-48 h-48"
      src="../../../../assets/undraw_data-processing_z2q6.svg"
      alt="Imagem representando criação de anúncio"
    />
  </div>

  <form
    class="relative bg-white shadow-md rounded-lg px-8 pb-8 pt-8 lg:w-2/4 md:w-3/4 sm:w-full"
  >
    <p>Título</p>
    <p>Por favor, preencha estes dados com as especificações do fabricante.</p>

    <br />
    <hr />
    <br />

    <div class="mb-4 rounded-lg">
      <label class="block text-gray-color text-sm mb-2" for="title"
        >Título do anúncio</label
      >
      <input
        [(ngModel)]="productName"
        [ngClass]="{ 'border-error-color': error }"
        name="title"
        class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
        id="title"
        type="text"
        placeholder="Insira o título"
      />
      @if (error) {
        <p class="text-error-color text-xs italic mb-4 mt-3">
          {{errorMessage}}
        </p>
      }
    </div>

    <br />
    <hr />
    <br />

    <div class="flex gap-5 flex-row-reverse">
      <button
        class="px-6 py-3 text-white bg-primary-button-color hover:bg-secondary-button-color rounded-lg"
        (click)="confirmName()"
      >
        Confirmar
      </button>
      <button
        class="px-6 py-3 text-primary-button-color hover:bg-tertiary-button-color rounded-lg"
      >
        Cancelar
      </button>
    </div>
    @if (loading) {
        <app-loading-overlay></app-loading-overlay>
    }
  </form>
</div>
