@if (this.isLoading$ | async) {
    <app-loading-overlay [fullScreen]="true"></app-loading-overlay>
}

<app-header></app-header>

<div class="absolute top-0 left-0 w-full h-[230px] bg-background-darker-color z-[-10] pointer-events-none"></div>

<div class="flex flex-row">
    <app-side-menu
    [menuTitle]="'Minha Conta'"
    [menuItems]="[
        {
            label: 'Vendas',
            icon: 'fa-shopping-basket',
            children: [
                { label: 'Resumo', link: '/user/new-product' },
                { label: 'Novidade', link: '/vendas/novidade' },
                { label: 'Anúncios', link: '/vendas/anuncios' }
            ]
        },
        {
            label: 'Produtos',
            icon: 'fa-shopping-bag',
            children: [
                { label: 'Categorias', link: '/produtos/categorias' },
                { label: 'Estoque', link: '/produtos/estoque' }
            ]
        }
    ]"
    ></app-side-menu>

    <div class="w-full mx-28">
        <div class="my-10 text-gray-color">Vendas  <i class="fa fa-angle-right" aria-hidden="true"></i>  Anúncios</div>

        <br><br><br>

        <div class="flex items-center gap-4 mb-4 rounded-lg text-gray-300">
            <app-search-bar [emitOnInput]="false" (search)="onSearch($event)"></app-search-bar>
            <p class="text-gray-400">|</p>
            <i class="fa fa-filter text-gray-600" aria-hidden="true"></i>
            <button class="text-gray-600 hover:text-gray-800 font-medium">Filtrar e ordenar</button>
        </div>
        <app-product-manager [products]="listaDeProdutos"></app-product-manager>
    </div>
</div>

<app-footer-dynamic></app-footer-dynamic>
