<div class="catalog-container">
    <button
      class="nav-button left"
      (click)="prev()"
      [disabled]="currentIndex === 0"
    >
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </button>
  
    <div class="catalog">
      <b>{{ catalogTitle }}</b>
      <br>
      <div class="catalog-track" [style.transform]="getTransform()">
        <div class="card group" [style.flex]="'0 0 calc((100% / ' + cardsPerPage + ') - 18px)'" *ngFor="let product of products">
          <a class="name" href={{product.link}}>
              <img src={{product.imageurl}} alt="Imagens do catálogo">
              <br>
              <p class="transition-colors group-hover:text-[--primary-color]">{{ product.name }}</p>
              <br>
              <b>R$ {{ product.price }}</b>
          </a>  
      </div>
      </div>
    </div>
  
    <button
      class="nav-button right"
      (click)="next()"
      [disabled]="currentIndex >= products.length - cardsPerPage"
    >
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </div>
  