<app-toaster></app-toaster>

<div class="grid">
    @for (p of products; track p) {
        <div class="card">
          <img [src]="p.imageurl" alt="{{ p.name }}">
          <div class="info">
            <h4>{{ p.name }}</h4>
            <p class="preco">R$ {{ p.price }}</p>
            <p class="condicao">
                {{ p.isused === '0' ? 'Novo' : 'Usado' }}
            </p>
          </div>
        
          <button
                (click)="toggleFavorite(p)"
                class="favorito"
                [ngClass]="{ favorited: p.isFavorited }"
            >
                <i class="fa fa-heart"></i>
            </button>
        </div>
    }
</div>