<div class="card-container" [ngClass]="type">
  <div class="left-accent"></div>
  <div class="card-content">
    <div class="card-header">
      <i
        [class]="getIcon(type)"
        class="info-icon"
      ></i>
      <input
        type="text"
        [(ngModel)]="title"
        placeholder="Digite o título"
        class="title-input"
      />
    </div>
    <div *ngIf="description" class="card-description">
      {{ description }}
    </div>
    <button
      *ngIf="buttonLabel"
      class="custom-button"
      (click)="onButtonClick()"
    >
      {{ buttonLabel }}
    </button>
  </div>
</div>