<div class="carousel-container">
  <button
    class="nav-button left"
    (click)="prev()"
    [disabled]="currentIndex === 0"
  >
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </button>

  <div class="carousel">
    <div class="carousel-track" [style.transform]="getTransform()">
      @for (card of cards; track card) {
        <div class="card"[style.flex]="'0 0 calc((100% / ' + cardsPerPage + ') - 18px)'">
          <b>{{ card.title }}</b>
          <br>
          <img src={{card.imageurl}} alt="Imagens do carrossel">
          <br>
          <p>{{ card.description }}</p>
          <a href={{card.link}}>
            <button>Mostrar produtos</button>
          </a>
        </div>
      }
    </div>
  </div>

  <button
    class="nav-button right"
    (click)="next()"
    [disabled]="currentIndex >= cards.length - cardsPerPage"
  >
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </button>
</div>
