<div class="toolbar">
  <label>
    <input type="checkbox" [checked]="allSelected" (change)="toggleSelectAll()" />
  </label>

  <p>|</p>

  <button (click)="pauseSelected()"
    [ngClass]="{
      'text-background-darker-color pointer-events-none': blurFilterButtons,
      'text-primary-button-color': !blurFilterButtons
    }"
  >
    Pausar
  </button>

  <button (click)="activateSelected()"
    [ngClass]="{
      'text-background-darker-color pointer-events-none': blurFilterButtons,
      'text-primary-button-color': !blurFilterButtons
    }"
  >
    Ativar
  </button>
</div>

<div class="product-list">
  <div class="product-row" *ngFor="let p of products">
    <input
      type="checkbox"
      [(ngModel)]="p.selected"
      (change)="onProductSelectionChange()"
    />

    <div class="product-image">
      <img [src]="p.imageUrl" [alt]="p.name" />
    </div>

    <div class="product-info">
      <div class="id">#{{ p.id }}</div>
      <div class="name">{{ p.name }}</div>
      <div class="quantity">{{ p.quantity }} unidade</div>
    </div>
    
    <div class="product-info2">
      <div class="sales-box">
        <div class="sales">{{ p.sales }} vendas</div>
        <div class="price">R$ {{ p.price | number:'1.2-2' }}</div>
      </div>
  
      <div class="status">
        <div class="status-message">
          {{ p.active ? 'Ativo' : 'Pausado' }}
        </div>
        <div class="sub-status">{{ p.active ? 'Este produto está ativo neste canal de venda.' : 'Você pausou o produto neste canal de venda.' }}</div>
      </div>

      <button class="toggle-btn" (click)="toggleProduct(p)">
        {{ p.active ? 'Pausado' : 'Ativo' }}
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>
      </button>
      
    </div>

    <div class="menu" (appClickOutside)="p.showMenu = false">
      <button class="menu-btn" (click)="p.showMenu = !p.showMenu">⋮</button>
      <ul
        class="menu-list"
        *ngIf="p.showMenu"
        [style.zIndex]="9999"
      >
        <li (click)="editProduct(p); p.showMenu = false">Editar</li>
        <li (click)="viewProduct(p); p.showMenu = false">Ver anúncio</li>
        <li (click)="deleteProduct(p); p.showMenu = false">Excluir</li>
      </ul>
    </div>
</div>
