<app-header-regular></app-header-regular>

<div class="flex flex-col items-center bg-tertiary-color p-16 mb-20">
    <p class="text-gray-color text-3xl mb-20 mt-10 px-2">
        Olá! Antes de mais nada, o que você vai anunciar?
    </p>
    
    <div class="flex flex-row flex-wrap items-center justify-center absolute top-80 sm:top-72 gap-5 mx-11 pb-32">
        <button (click)="chooseCategory(0)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-cutlery text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Comida</p>
            </div>
        </button>

        <button (click)="chooseCategory(1)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-mobile text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Tecnologia</p>
            </div>
        </button>

        <button (click)="chooseCategory(2)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-user-secret text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Moda</p>
            </div>
        </button>

        <button (click)="chooseCategory(3)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-bed text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Móveis</p>
            </div>
        </button>

        <button (click)="chooseCategory(4)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-paint-brush text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Limpeza</p>
            </div>
        </button>

        <button (click)="chooseCategory(5)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-child text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Brinquedo</p>
            </div>
        </button>

        <button (click)="chooseCategory(6)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-futbol-o text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Esporte</p>
            </div>
        </button>

        <button (click)="chooseCategory(7)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-car text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Veículo</p>
            </div>
        </button>

        <button (click)="chooseCategory(8)">
            <div class="flex flex-col justify-center items-center w-40 h-40 bg-white rounded-lg text-xl transition duration-300 hover:shadow-xl">
                <i class="fa fa-diamond text-6xl mb-2" aria-hidden="true"></i>
                <p class="text-center">Beleza</p>
            </div>
        </button>
    </div>
</div>
  