@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .mask-gradient {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    }
}

:root{
    --primary-color: #87d6a5;
    --secondary-color: #5b9f77;
    --tertiary-color: #e57373;
    --quaternary-color: #374151;
    --quinary-color: #b8eccf;
    --background-color: #ededed;
}

body {
    background-color: var(--background-color);
}