<app-toaster></app-toaster>

<app-header-regular></app-header-regular>

<div class="flex flex-col items-center w-full">
    <div class="container w-full lg:w-2/4 md:w-3/4 sm:w-full">
        <div class="mt-4 mb-10">
            <button class="text-primary-button-color flex items-center" (click)="goBack()">
                <i class="fa fa-angle-left mr-2" aria-hidden="true"></i> Voltar
            </button>
        </div>

        <app-info-card
            [title]="'Inativo'"
            [description]="'O anúncio está pausado.'"
            [buttonLabel]="'Reativar'"
            (buttonClicked)="reactivateProduct()"
        ></app-info-card>

        <div class="mb-10"></div>

        <app-expandable-section
            title="Título"
            [value]="this.productId"
            [isExpanded]="this.isNameExpanded"
            (confirm)="onConfirmChange(0)"
            (cancel)="onCancelChange(0)" 
            (toggle)="onToggleNameExpanded($event)"
        >
            <div class="flex flex-col gap-4">
                <input
                    [(ngModel)]="productName"
                    [ngClass]="{
                    'border-error-color': isFieldError,
                    }"
                    class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
                    type="text"
                    placeholder="Insira um título"
                />
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Preço"
            [value]="this.productId"
            [isExpanded]="this.isPriceExpanded"
            (confirm)="onConfirmChange(1)"
            (cancel)="onCancelChange(1)" 
            (toggle)="onTogglePriceExpanded($event)"
        >
            <div class="flex flex-col gap-4">
                <input
                    [(ngModel)]="productPrice"
                    [ngClass]="{
                    'border-error-color': isFieldError,
                    }"
                    class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
                    type="number"
                    placeholder="Insira um preço"
                    (keydown)="sharedMethod.preventSpace($event)"
                />
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Condição"
            [value]="this.productId"
            [isExpanded]="this.isConditionExpanded"
            (confirm)="onConfirmChange(2)"
            (cancel)="onCancelChange(2)" 
            (toggle)="onToggleConditionExpanded($event)"
        >
            <div class="flex flex-col gap-4">
                <label>
                <input
                    type="radio"
                    [(ngModel)]="productCondition"
                    [value]="'F'"
                    name="productCondition"
                    class="mr-2"
                />
                Novo
                </label>
                <label>
                <input
                    type="radio"
                    [(ngModel)]="productCondition"
                    [value]="'T'"
                    name="productCondition"
                    class="mr-2"
                />
                Usado
                </label>
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Estoque"
            [value]="this.productId"
            [isExpanded]="this.isQuantityExpanded"
            (confirm)="onConfirmChange(3)"
            (cancel)="onCancelChange(3)" 
            (toggle)="onToggleQuantityExpanded($event)"
        >
            <div class="flex flex-col gap-4">
                <input
                    [(ngModel)]="productQuantity"
                    [ngClass]="{
                    'border-error-color': isFieldError,
                    }"
                    class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
                    type="number"
                    placeholder="Insira uma quantidade"
                    (keydown)="sharedMethod.preventSpace($event)"
                />
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Foto"
            [value]="this.productId"
            [isExpanded]="this.isPhotoExpanded"
            (confirm)="onConfirmChange(4)"
            (cancel)="onCancelChange(4)" 
            (toggle)="onTogglePhotoExpanded($event)"
        >
            <div class="flex flex-col gap-4">
                <input
                    [(ngModel)]="productPhoto"
                    [ngClass]="{
                    'border-error-color': isFieldError,
                    }"
                    class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
                    type="text"
                    placeholder="Insira uma url"
                />
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Descrição"
            [value]="this.productId"
            [isExpanded]="this.isDescriptionExpanded"
            (confirm)="onConfirmChange(5)"
            (cancel)="onCancelChange(5)" 
            (toggle)="onToggleDescriptionExpanded($event)"
        >
            <div class="flex flex-col gap-4">
                <textarea
                    [(ngModel)]="productDescription"
                    [ngClass]="{
                    'border-error-color': isFieldError,
                    }"
                    class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
                    type="text"
                    placeholder="Digite aqui mais informações para seus compradores."
                    rows="10"
                    maxlength="5000"
                ></textarea>
            </div>
        </app-expandable-section>
    </div>
</div>

<app-footer-regular></app-footer-regular>