<app-toaster></app-toaster>

<app-header-regular></app-header-regular>

<div class="flex flex-col items-center w-full">
    <div class="container w-full lg:w-2/4 md:w-3/4 sm:w-full">
        <div class="mt-4 mb-10">
            <button class="text-primary-button-color flex items-center" (click)="goBack()">
                <i class="fa fa-angle-left mr-2" aria-hidden="true"></i> Voltar
            </button>
        </div>

        <app-expandable-section
            title="Título"
            [value]="this.productId"
            (confirm)="onConfirmTitleChange()"
        >
            <div class="flex flex-col gap-4">
                <input
                    [(ngModel)]="productName"
                    [ngClass]="{
                    'border-error-color': isNameError,
                    'bg-white/25 pointer-events-none': blurFirstStep
                    }"
                    name="title"
                    class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
                    id="title"
                    type="text"
                    placeholder="Insira o título"
                />
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Preço"
            [value]="this.productId"
            (confirm)="onConfirmTitleChange()"
        >
            <div class="flex flex-col gap-4">
     
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Condição"
            [value]="this.productId"
            (confirm)="onConfirmTitleChange()"
        >
            <div class="flex flex-col gap-4">
            
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Estoque"
            [value]="this.productId"
            (confirm)="onConfirmTitleChange()"
        >
            <div class="flex flex-col gap-4">
             
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Foto"
            [value]="this.productId"
            (confirm)="onConfirmTitleChange()"
        >
            <div class="flex flex-col gap-4">
               
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Descrição"
            [value]="this.productId"
            (confirm)="onConfirmTitleChange()"
        >
            <div class="flex flex-col gap-4">
                
            </div>
        </app-expandable-section>
    </div>
</div>