<app-toaster></app-toaster>

<app-header-regular></app-header-regular>

<div class="flex flex-col items-center w-full">
    <div class="container w-full lg:w-2/4 md:w-3/4 sm:w-full">
        <div class="mt-4 mb-10">
            <button class="text-primary-button-color flex items-center" (click)="goBack()">
                <i class="fa fa-angle-left mr-2" aria-hidden="true"></i> Voltar
            </button>
        </div>

        <app-expandable-section
            title="Título"
            [value]="this.productId"
            [isExpanded]="this.isNameExpanded"
            (confirm)="onConfirmChange(0)"
            (cancel)="onCancelChange(0)" 
            (toggle)="onToggleNameExpanded($event)"
        >
            <div class="flex flex-col gap-4">
                <input
                    [(ngModel)]="productName"
                    [ngClass]="{
                    'border-error-color': isFieldError,
                    }"
                    class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
                    type="text"
                    placeholder="Insira o título"
                />
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Preço"
            [value]="this.productId"
            [isExpanded]="this.isPriceExpanded"
            (confirm)="onConfirmChange(1)"
            (cancel)="onCancelChange(1)" 
            (toggle)="onTogglePriceExpanded($event)"
        >
            <div class="flex flex-col gap-4">
                <input
                    [(ngModel)]="productPrice"
                    [ngClass]="{
                    'border-error-color': isFieldError,
                    }"
                    class="shadow appearance-none border rounded-lg w-full px-6 py-3 text-gray-color leading-tight focus:outline-none focus:shadow-outline transition duration-500 ease-in-out"
                    type="number"
                    placeholder="Insira o preço"
                    (keydown)="sharedMethod.preventSpace($event)"
                />
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Condição"
            [value]="this.productId"
            (confirm)="onConfirmChange(2)"
        >
            <div class="flex flex-col gap-4">
                <label>
                <input
                    type="radio"
                    [(ngModel)]="productCondition"
                    [value]="'F'"
                    name="productCondition"
                    class="mr-2"
                />
                Novo
                </label>
                <label>
                <input
                    type="radio"
                    [(ngModel)]="productCondition"
                    [value]="'T'"
                    name="productCondition"
                    class="mr-2"
                />
                Usado
                </label>
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Estoque"
            [value]="this.productId"
            (confirm)="onConfirmChange(3)"
        >
            <div class="flex flex-col gap-4">
             
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Foto"
            [value]="this.productId"
            (confirm)="onConfirmChange(4)"
        >
            <div class="flex flex-col gap-4">
               
            </div>
        </app-expandable-section>

        <app-expandable-section
            title="Descrição"
            [value]="this.productId"
            (confirm)="onConfirmChange(5)"
        >
            <div class="flex flex-col gap-4">
                
            </div>
        </app-expandable-section>
    </div>
</div>