b {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}

img {
  height: 5rem;
}

p {
  text-align: center;
  font-size: 0.75rem;
  line-height: 1rem;
}

a {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

button {
  font-size: 12px;
  line-height:16px;
  border-radius: 6px;
  background-color: #e3edfb;
  color: #007bff;
  padding: 4px;
}
button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-button svg {
  fill: #007bff;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 24px;
  margin-left: 24px;
  border-radius: 8px;
}

.nav-button {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.nav-button.left {
  left: -23px;
}

.nav-button.right {
  right: -23px;
}

.nav-button span {
  font-size: 18px;
  font-weight: bold;
}

.nav-button:disabled {
  visibility: hidden;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  gap: 18px; 
  transition: transform 0.3s ease-in-out; 
  margin-right: -18px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px; 
  background-color: #f9f9f9;
  border-radius: 8px;
  height: 288px;
  min-width: 188px;
}
