<div class="carousel-container">
  <button
    class="nav-button left"
    (click)="prev()"
    [disabled]="currentIndex === 0"
  >
    <span>&lt;</span>
  </button>

  <div class="carousel">
    <div class="carousel-track" [style.transform]="getTransform()">
      <div class="card" *ngFor="let card of cards">
        <b class="font-bold text-base">{{ card.title }}</b>
        <br><br>
        <img src="../../../../assets/undraw_breakfast_rgx5.svg" alt="">
        <br>
        <p class="text-xs text-center">{{ card.description }}</p>
        <br><br>
        <button class="rounded-md bg-blue-400 text-blue-700">Mostrar produtos</button>
      </div>
    </div>
  </div>

  <button
    class="nav-button right"
    (click)="next()"
    [disabled]="currentIndex >= cards.length - cardsPerPage"
  >
    <span>&gt;</span>
  </button>
</div>
