<div class="carousel-container">
  <button
    class="nav-button left"
    (click)="prev()"
    [disabled]="currentIndex === 0"
  >
    <span>&lt;</span>
  </button>

  <div class="carousel">
    <div class="carousel-track" [style.transform]="getTransform()">
      <div class="card" *ngFor="let card of cards">
        <b>{{ card.title }}</b>
        <br>
        <img src={{card.image}} alt="Imagens do carrossel">
        <br>
        <p>{{ card.description }}</p>
        <a href={{card.link}}>
          <button>Mostrar produtos</button>
        </a>
      </div>
    </div>
  </div>

  <button
    class="nav-button right"
    (click)="next()"
    [disabled]="currentIndex >= cards.length - cardsPerPage"
  >
    <span>&gt;</span>
  </button>
</div>
